* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  height: 100vh;
background-image: url("https://th.bing.com/th/id/OIP.yOYao2Emd-wFuETbw3yXowHaE8?w=239&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7.jpg"); 
background-repeat: no-repeat;
background-size:100% 100%;
;
}
.start-screen,
.score-container {
  top: 0;
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#start-button,
#restart ,
.back{
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

#lb,
#atl{
  font-size: 0.8 em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

#restart {
  margin-top: 10em;
}
#display-container {
  background-color: white;
  padding: 2.0em 2.0em;
  width: 80%;
  max-width: 35.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5em;
}
.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}
.question {
  margin-bottom: 1.25em;
  font-weight:800;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}
.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}
#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: darkblue;
  color: white;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}
.hide {
  display: none;
}
.incorrect {
  background-color:red;
}
.correct {
  background-color:green;
}
#user-score {
  font-size: 2.5em;
  color:white;
}
#output {
            margin-top: 80px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            color: #333;
        }